<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>HelloWorld Application</display-name>
    <description>
        UNREDD portal administration web application
    </description>
    <distributable/>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/unredd_admin_applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--
    <context-param>
        <description>GeoStore url</description>
        <param-name>geostore.staging.url</param-name>
        <param-value>http://127.0.0.1:9191/geostore/rest</param-value>
    </context-param>
    <context-param>
        <description>GeoStore user</description>
        <param-name>geostore.staging.user</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <description>GeoStore password</description>
        <param-name>geostore.staging.password</param-name>
        <param-value>admin</param-value>
    </context-param>
    -->
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<!-- 
			We need to include jackson here in order to use it to serialize return
			results to JSON, which is way better
			-->
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.fao.unredd.resources;org.codehaus.jackson.jaxrs</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
    <servlet>
        <servlet-name>LayerList</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ResourceList</servlet-class>
        <init-param>
            <description>UNREDD resource category</description>
            <param-name>unreddCategory</param-name>
            <param-value>LAYER</param-value>
        </init-param>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>layer-list.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LayerAdd</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayerShow</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerShow</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>layer-show.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LayerEditForm</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerShow</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>layer-edit-form.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LayerEdit</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsDefEditForm</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDefShow</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>stats-def-edit-form.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>StatsDefShow</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDefShow</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>stats-def-show.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>StatsDefEdit</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDefEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsDefList</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDefList</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>stats-def-list.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ChartScriptList</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ChartScriptList</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>chart-script-list.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ChartScriptEditForm</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ChartScriptShow</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>chart-script-edit-form.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ChartScriptShow</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ChartScriptShow</servlet-class>
        <init-param>
            <description>Output JSP</description>
            <param-name>outputPage</param-name>
            <param-value>chart-script-show.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ChartScriptEdit</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ChartScriptEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayerUpdateList</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerUpdateList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayerUpdatePublish</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerUpdatePublish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsDataList</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDataList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsDataShow</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDataShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayerUpdateAdd</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerUpdateAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayerUpdateReprocess</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerUpdateReprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsDataReprocess</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDataReprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsDefReprocess</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDefReprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartScriptDelete</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ChartScriptDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatsDefDelete</servlet-name>
        <servlet-class>org.fao.unredd.servlet.StatsDefDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayerDelete</servlet-name>
        <servlet-class>org.fao.unredd.servlet.LayerDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartScriptReprocess</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ChartScriptReprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartDataList</servlet-name>
        <servlet-class>org.fao.unredd.servlet.ChartDataList</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerList</servlet-name>
        <url-pattern>/LayerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerAdd</servlet-name>
        <url-pattern>/LayerAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerShow</servlet-name>
        <url-pattern>/LayerShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerEditForm</servlet-name>
        <url-pattern>/LayerEditForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerEdit</servlet-name>
        <url-pattern>/LayerEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDefEdit</servlet-name>
        <url-pattern>/StatsDefEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDefShow</servlet-name>
        <url-pattern>/StatsDefShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDefEditForm</servlet-name>
        <url-pattern>/StatsDefEditForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDefList</servlet-name>
        <url-pattern>/StatsDefList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartScriptList</servlet-name>
        <url-pattern>/ChartScriptList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartScriptEditForm</servlet-name>
        <url-pattern>/ChartScriptEditForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartScriptShow</servlet-name>
        <url-pattern>/ChartScriptShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartScriptEdit</servlet-name>
        <url-pattern>/ChartScriptEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerUpdateList</servlet-name>
        <url-pattern>/LayerUpdateList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerUpdatePublish</servlet-name>
        <url-pattern>/LayerUpdatePublish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDataList</servlet-name>
        <url-pattern>/StatsDataList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDataShow</servlet-name>
        <url-pattern>/StatsDataShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerUpdateAdd</servlet-name>
        <url-pattern>/LayerUpdateAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerUpdateReprocess</servlet-name>
        <url-pattern>/LayerUpdateReprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDataReprocess</servlet-name>
        <url-pattern>/StatsDataReprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDefReprocess</servlet-name>
        <url-pattern>/StatsDefReprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartScriptDelete</servlet-name>
        <url-pattern>/ChartScriptDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatsDefDelete</servlet-name>
        <url-pattern>/StatsDefDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayerDelete</servlet-name>
        <url-pattern>/LayerDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartScriptReprocess</servlet-name>
        <url-pattern>/ChartScriptReprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartDataList</servlet-name>
        <url-pattern>/ChartDataList</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LayerList</welcome-file>
    </welcome-file-list>
</web-app>
